@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    
}
.hero-img {
    background-image: url(images/pizza.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
background-repeat: no-repeat;
position: relative;
}
.hero-wrapper{
    color: rgb(240, 240, 247);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%); 

}
.hero-wrapper h1{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: red;
}
.hero-wrapper p{
    text-align: center;
    font-size: 30px;
}